h2 {
  background-color: lightgrey;
}

/* for aria demonstration */
.green-rectangle {
  width:30%;
  height:200px;
  background-color: mediumseagreen;
}

body {
    /* preferred fonts, in order, then fallbacks */
    font-family: Lato, 'Helvetica Nue', Helvetica, sans-serif;
}
